a {
    color: #D13239;
}

a:hover {
    color: #002A55;
}

a:visited {
    color: #D13239;
}

.wy-menu-vertical a {
    color: #d9d9d9;
}

.wy-menu-vertical li.toctree-l1.current>a {
    color: #fcfcfc;
    border-bottom: 1px solid #002A55;
    border-top: 1px solid #002A55;
    background: #002A55;
}

.wy-menu-vertical li.current>a {
    border-bottom: 1px solid #D13239;
    border-top: 1px solid #D13239;
    color: #002A55;
}
