html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.b3lb-header {
  max-width: 800px;
}

.b3lb-bg {
  background: #002a55;
}

.btn-primary {
  background: #d13239;
  border-color: #d13239;
}

.btn-primary:hover {
  background: #002a55;
  border-color: #002a55;
}

a {
  color: #d13239;
}

a:hover {
  color: #002a55;
  text-decoration: none;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
